<div style = "padding : 20px; background-color : red; color : white">
<h1 style = "text-align:center"> Nettoyage de données </h1>
</div>

In [1]:
import pandas as pd
df_produits = pd.read_csv("data/produits.csv")
df_clients = pd.read_csv("data/clients.csv")
df_ventes = pd.read_csv("data/ventes.csv")

In [2]:
df_produits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3287 entries, 0 to 3286
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id_prod  3287 non-null   object
 1   price    3287 non-null   float64
 2   categ    3287 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 77.2+ KB

In [3]:
df_clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8623 entries, 0 to 8622
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  8623 non-null   object
 1   sex        8623 non-null   object
 2   birth      8623 non-null   int64
dtypes: int64(1), object(2)
memory usage: 202.2+ KB

In [4]:
df_ventes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337016 entries, 0 to 337015
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     337016 non-null  object
 1   date        337016 non-null  object
 2   session_id  337016 non-null  object
 3   client_id   337016 non-null  object
dtypes: object(4)
memory usage: 10.3+ MB

## Création d'un dataframe regroupant toutes les donnés

In [5]:
df = pd.merge(df_produits, df_ventes, on='id_prod', how='inner')
df = pd.merge(df, df_clients, on='client_id', how='inner')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336913 entries, 0 to 336912
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     336913 non-null  object
 1   price       336913 non-null  float64
 2   categ       336913 non-null  int64
 3   date        336913 non-null  object
 4   session_id  336913 non-null  object
 5   client_id   336913 non-null  object
 6   sex         336913 non-null  object
 7   birth       336913 non-null  int64
dtypes: float64(1), int64(2), object(5)
memory usage: 23.1+ MB

## Élimination des doublons

In [6]:
initial_length = len(df)
df.drop_duplicates( keep='first', inplace = True )
print("Il y avait {} doublons".format(initial_length - len(df)))

Il y avait 126 doublons

## Détection des valeurs manquantes

In [7]:
df.isnull().sum()

id_prod       0
price         0
categ         0
date          0
session_id    0
client_id     0
sex           0
birth         0
dtype: int64

Il n'y a aucune valeurs nulle.

## Recherche de valeurs aberrantes
**Vérification la crédibilité des données entrées dans les colonnes suivantes : price, categ, sex, birth**

In [8]:
df.price.describe()

count    336787.000000
mean         17.211186
std          17.855525
min          -1.000000
25%           8.580000
50%          13.900000
75%          18.990000
max         300.000000
Name: price, dtype: float64

<p style='color:red; font-weight:bold'> ⚠ Certains prix de ventes sont négatifs ! </p>

In [9]:
df.categ.describe()

count    336787.000000
mean          0.430061
std           0.591051
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           2.000000
Name: categ, dtype: float64

In [10]:
df.groupby(by="categ").size()

categ
0    209500
1    109735
2     17552
dtype: int64

Pas de données incohérentes

In [11]:
df.sex.describe()

count     336787
unique         2
top            m
freq      169235
Name: sex, dtype: object

In [12]:
df.groupby('sex').size()

sex
f    167552
m    169235
dtype: int64

Pas de données incohérentes

In [13]:
df.birth.describe()

count    336787.00000
mean       1977.82866
std          13.52731
min        1929.00000
25%        1971.00000
50%        1980.00000
75%        1987.00000
max        2004.00000
Name: birth, dtype: float64

In [14]:
df.groupby('birth').size()

birth
1929      86
1930     115
1931      84
1932     159
1933     163
        ...
2000    2174
2001    2106
2002    2223
2003    2182
2004    7348
Length: 76, dtype: int64

In [15]:
df['year'] = df.apply(lambda row:( row['date'][:4] ),axis = 1 )
df['month'] = df.apply(lambda row:( row['date'][5:7]), axis = 1)
df['day'] = df.apply(lambda row:(row['date'][8:10]), axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336787 entries, 0 to 336912
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     336787 non-null  object
 1   price       336787 non-null  float64
 2   categ       336787 non-null  int64
 3   date        336787 non-null  object
 4   session_id  336787 non-null  object
 5   client_id   336787 non-null  object
 6   sex         336787 non-null  object
 7   birth       336787 non-null  int64
 8   year        336787 non-null  object
 9   month       336787 non-null  object
 10  day         336787 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 30.8+ MB

In [16]:
df.groupby('year').size()

year
2021    277846
2022     58867
test        74
dtype: int64

In [17]:
df.groupby('month').size()

month
01    29311
02    29556
03    28559
04    28401
05    28237
06    26812
07    24712
08    25610
09    33254
10    21577
11    28267
12    32417
20       74
dtype: int64

In [18]:
df.groupby('day').size()

day
01    11293
02    10957
03    10936
04    10663
05    10839
06    11016
07    10938
08    11095
09    10945
1-       74
10    10965
11    11095
12    11039
13    10976
14    11099
15    11012
16    11253
17    11125
18    10965
19    10840
20    10956
21    11007
22    11019
23    11135
24    11111
25    11028
26    11165
27    11161
28    11528
29    10579
30    10571
31     6402
dtype: int64

<p style='color:red; font-weight:bold'> ⚠ Certaines dates ne sont pas cohérentes ! 74 valeurs sont aberrantes </p>

## Suppression des valeurs aberrantes

In [19]:
# Suppression des prix négatifs
initial_length = len(df)
df.query("price >= 0 ", inplace=True)
print("{} valeurs ont été effacés ".format(initial_length - len(df)))

74 valeurs ont été effacés

In [20]:
df.groupby('year').size()

year
2021    277846
2022     58867
dtype: int64

Les entrées correspondant aux prix négatifs étaient aussi celles qui avaient des dates incohérentes. 

Toutes les valeurs incohérentes semblent avoir été supprimé.

## Calcul de l'âge du client / ajout de colonnes

In [21]:
## Changement de type string -> int
df['year'] = df['year'].map(lambda x : int(x))
df['month'] = df['month'].map(lambda x : int(x))
df['day'] = df['day'].map(lambda x : int(x))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336713 entries, 0 to 336912
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id_prod     336713 non-null  object
 1   price       336713 non-null  float64
 2   categ       336713 non-null  int64
 3   date        336713 non-null  object
 4   session_id  336713 non-null  object
 5   client_id   336713 non-null  object
 6   sex         336713 non-null  object
 7   birth       336713 non-null  int64
 8   year        336713 non-null  int64
 9   month       336713 non-null  int64
 10  day         336713 non-null  int64
dtypes: float64(1), int64(5), object(5)
memory usage: 30.8+ MB

In [22]:
df['age'] = df.apply(lambda row:(int(row['year']) - row['birth']), axis = 1)
df.head()

,id_prod,price,categ,date,session_id,client_id,sex,birth,year,month,day,age
0,0_1421,19.99,0,2021-05-12 23:26:29.885083,s_33709,c_7954,m,1973,2021,5,12,48
1,0_1142,3.42,0,2021-03-24 00:54:59.507581,s_10590,c_7954,m,1973,2021,3,24,48
2,0_1446,8.09,0,2021-11-26 18:04:33.019608,s_125461,c_7954,m,1973,2021,11,26,48
3,0_2291,12.99,0,2021-05-29 18:25:02.094891,s_41299,c_7954,m,1973,2021,5,29,48
4,1_385,25.99,1,2021-06-01 20:41:40.157683,s_42731,c_7954,m,1973,2021,6,1,48

In [23]:
# Le dataset est exploitable on peut faire l'export csv
df.to_csv("data/all_data.csv", index = False )